#main-nav {
    background: #f1e1eb;
}

#main-nav li {
    list-style-type:none;
    flex: 1;
}

#main-nav ul{
    padding-left: 0px;
    display: flex;
    width: 80%;
    margin: auto;
}

#main-nav a{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    color: black;
    display: block;

}

#main-nav a:hover{
    background: whitesmoke;
    color: #B886F8;
}

body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.active {
    color: #B886F8;
    background-color: whitesmoke;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex: 1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #B886F8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1e1eb;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
/* Media Query  for larger screens*/